<%= form_for(@grade_asignature) do |f| %>
  <% if @grade_asignature.errors.any? %>
    <div class="error_explanation">
      <h2><%= t('errors.template.header', :count=>@grade_asignature.errors.size,:model=>t('activerecord.models.grade_asignature')) %>:</h2>
      <%= t('errors.template.body') %>
      <ul>
      <% @grade_asignature.errors.full_messages.each do |message| %>
        <li><i class="fa fa-hand-o-right"></i>&nbsp;<%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%if(flash[:error]) %>
     <div class="error_explanation">
        <p><%= t('errors.template.body') %></p>
        <%= flash[:error].html_safe %>
     </div>
  <% end %>

  <div class="form__style">
    <div class="form__item">
      <div class="wrapper">
        <div class="icon-menu text_field__icon"></div>
        <%= f.select :school_year_id, SchoolYear.order("name").map{|el| [ el.name,el.id]},{include_blank: "Seleccione Año Escolar"}, class: "field__placeholder_icon" %>
      </div>
    </div>

    <div class="form__item">
      <div class="wrapper">
        <div class="icon-menu text_field__icon"></div>
        <%= f.select :educational_asignature_id, EducationalAsignature.includes(:educational_area).order( 'educational_areas.education_level_id' ).map{|u| [ u.educational_area.education_level.name.to_s+' - '+u.educational_area.name.to_s+' - '+u.name,u.id]},{include_blank: "#{t('str_select_field')} #{t('.educational_asignature_id')}"}, class: "field__placeholder_icon" %>
        </div>
    </div>
    
    <div class="form__item">
      <div class="wrapper">
        <div class="icon-menu text_field__icon"></div>
        <%= f.select :grade_id, Grade.order("id").map{|el| [ el.name,el.id]},{include_blank: "#{t('str_select_field')} #{t('.grade_id')}"}, class: "field__placeholder_icon" %>
      </div>
    </div>

    <div class="form__item">
      <div class="wrapper">
        <div class="icon-menu text_field__icon"></div>
        <%= f.number_field :internal_order, class: "field__placeholder_icon", placeholder: "#{t('.internal_order')}" %>
      </div>
    </div>
  </div>

  <div class="form__button">
    <div class="button__border_radius left">
      <%= link_to '<i class="fa fa-refresh fa-lg"></i>&nbsp;Cancelar'.html_safe, new_grade_asignature_path, class: "button-link color-button-green", style: "position: absolute;" %>
    </div>
    <div class="button__border_radius right">
      <%= button_tag(type: 'submit', class: "form__submit_button") do %>
        <i class="fa fa-floppy-o fa-lg"></i> <%=t('.save')%>
      <% end %>
    </div>
  </div>
<% end %>
