<br>
<% if @educational_performances_lists.any? %>
  <div class="grupo total">
    <div class="caja">
      <center><%= paginate(@educational_performances_lists) %></center>
    </div>
  </div>

  <div class="content-table">
    <table class="style-table">
      <thead>
        <th><%= sort_link(@search, :description, t('.name')) %></th>
        <th><%= sort_link(@search, :grade_asignature_grade_name, t('.grade_id')) %></th>
        <th><%= sort_link(@search, :status, t('.status')) %></th>
        <th colspan="3" width="100"></th>
      </thead>          

      <tbody>

        <%= search_form_for @search, url: new_educational_performances_list_url, method: :post do |f| %>
          <tr>
            <td><%= f.text_field :description_cont, class: "form-control",size: "100" %></td>
            <td><%= f.select :grade_id_eq, @grades.map { |g| [g.name, g.id] }, {include_blank: "#{t('str_select_field')} #{t('.grade_id')}"}, class: "form-control" %></td>
            <td><%= f.select :status_eq, user_status,{include_blank: "#{t('str_select_field')} #{t('.status')}"}, class: "form-control" %></td>
            <td colspan="3" width="100px" sytl>
              <div style="width: 95px;">
                <%= button_tag(type: 'submit', title: "Buscar", class: "button-link color-button-orange tooltip", style: "padding: 8px 10px;margin:9px 5px;", :data =>{:toggle=>"tooltip", :placement=>"top", title: "Filtrar"}) do %>
                  <span class="fa fa-search fa-lg"></span>
                <% end %>
                <%= link_to(new_educational_performances_list_url,{class: 'button-link color-button-red tooltip', title: "Limpiar",  style: "padding: 8px 5px;margin:9px 5px;", :data =>{:toggle=>"tooltip", :placement=>"top"}}) do %>
                    <span class="fa fa-eraser fa-lg"></span>
                <% end %>
              </div>
            </td>
          </tr>
        <% end %>

        <% @educational_performances_lists.each do |educational_performances_list| %>
          <tr>
            <td><%= educational_performances_list.description %></td>
            <td><%= educational_performances_list.grade.name unless educational_performances_list.grade.nil? %></td>
            <td>
              <% if educational_performances_list.status.to_i == 0 %>
                Inactivo
              <% else %>
                Activo
              <% end %>
            </td>
            <td></td>
            <td><%= link_to '<i class="fa fa-pencil"></i>'.html_safe, edit_educational_performances_list_path(educational_performances_list), class: "edit-icon-button format-link tooltip", title: "Editar" %></td>
            <td><%= link_to '<i class="fa fa-times"></i>'.html_safe, educational_performances_list, method: :delete, data: { confirm: "#{t('.eliminate')}" }, class: "format-link tooltip", title: "Eliminar" unless assigned_id(EducationalPerformance,'educational_performances_list_id',educational_performances_list) or assigned_id(EducationalPerformanceGrade,'educational_performances_list_id',educational_performances_list) %></td>
          </tr>
        <% end %>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="7">
            <%= t('.label_total') %>: <%= @educational_performances_lists.size %>
          </td>
        </tr>
      </tfoot>
    </table>
  </div>
  <div class="grupo total">
    <div class="caja">
      <center><%= paginate(@educational_performances_lists) %></center>
    </div>
  </div>
<% else %>
  <div class="grupo">
    <div class="caja">
      <div class="caja movil-90 tablet-70 centrar-caja">
        <div class="msg-info">
          <strong>¡Atento!</strong> <%= t('general.msg_info') %>
        </div>
      </div>
    </div>
  </div>
<% end %>
