<%= form_for(@educational_period) do |f| %>
  <% if @educational_period.errors.any? %>

    <div class="error_explanation">
      <h2><%= t('errors.template.header', :count=>@educational_period.errors.size,
  :model=>t('activerecord.models.educational_period')) %>:</h2>
      <%= t('errors.template.body') %>
      <ul>
      <% @educational_period.errors.full_messages.each do |message| %>
        <li><i class="fa fa-hand-o-right"></i>&nbsp;<%= message %></li>
      <% end %>
      </ul>
    </div>

  <% end %>

  <div class="form__style">
    <div class="form__item">
      <div class="wrapper">
        <div class="fa fa-pencil text_field__icon"></div>
          <!--%= f.label :name %><br-->
          <%= f.text_field :name, class: "field__placeholder_icon", placeholder: "#{t('.name')}" %>
      </div>
    </div>
    <div class="form__item">
      <div class="wrapper">
        <div class="fa fa-pencil text_field__icon"></div>
          <!--%= f.label :description %><br-->
          <%= f.text_area :description, class: "field__placeholder_icon", placeholder: "#{t('.description')}", style:"height:150px;" %>
      </div>
    </div>
    <div class="form__item">
      <div class="wrapper">
        <div class="fa fa-pencil text_field__icon"></div>
          <!--%= f.label :name %><br-->
          <%= f.text_field :internal_order, class: "field__placeholder_icon", placeholder: "#{t('.internal_order')}" %>
      </div>
    </div>

    <div class="form__item">
      <div class="wrapper">
        <div class="fa fa-calendar text_field__icon"></div>
        <%= f.text_field :start_date, class: "clstart_date field__placeholder_icon", readonly: true, placeholder: "#{t('.start_date')}" %>
      </div>
    </div>

    <div class="form__item">
      <div class="wrapper">
        <div class="fa fa-calendar text_field__icon"></div>
        <%= f.text_field :end_date, class: "clend_date field__placeholder_icon", readonly: true, placeholder: "#{t('.end_date')}" %>
      </div>
    </div>
  </div>

  <div class="form__button">
    <div class="button__border_radius left">
      <%= link_to '<i class="fa fa-refresh fa-lg"></i>&nbsp;Cancelar'.html_safe, new_educational_period_path, class: "button-link color-button-green", style: "position: absolute;" %>
    </div>

    <div class="button__border_radius right">
      <%= button_tag(type: 'submit', class: "form__submit_button") do %>
        <i class="fa fa-floppy-o fa-lg"></i> <%=t('.save')%>
      <% end %>
    </div>
  </div>
<% end %>

<script>
 $(function() {
  $( ".clstart_date" ).datepicker({
    changeMonth: true,
    changeYear: true,
    dateFormat: 'yy-mm-dd'
  });
  $( ".clend_date" ).datepicker({
    changeMonth: true,
    changeYear: true,
    dateFormat: 'yy-mm-dd'
  });
});
</script>
