<p id="notice"><%= notice %></p>

<p>
  <strong>Student sub grade:</strong>
  <%= @average_student_sub_grade.student_sub_grade %>
</p>

<p>
  <strong>Educational period:</strong>
  <%= @average_student_sub_grade.educational_period %>
</p>

<p>
  <strong>Average:</strong>
  <%= @average_student_sub_grade.average %>
</p>

<p>
  <strong>Average:</strong>
  <%= @average_student_sub_grade.average %>
</p>

<%= link_to 'Edit', edit_average_student_sub_grade_path(@average_student_sub_grade) %> |
<%= link_to 'Back', average_student_sub_grades_path %>
