<%= form_for(@user, :html => {:multipart => true}) do |f| %>
  <% if @user.errors.any? %>
    <div class="error_explanation">
      <h2><%= t('errors.template.header', :count=>@user.errors.size,:model=>t('activerecord.models.user')) %>:</h2>
      <%= t('errors.template.body') %>
      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><i class="fa fa-hand-o-right"></i>&nbsp;<%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form__style">
    <% unless @user.new_record? %>
      <div class="form__item">
        <div class="wrapper">
          <center><%= image_tag(@user.avatar.url(:small), style: "border-radius: 50%; width: 100px; height: 100px") %></center>
        </div>
      </div>
    <% end %>
    <div class="form__item">
      <div class="wrapper">
        <%= f.label :avatar, class: 'col-sm-2 control-label'  %>
        <%= f.file_field :avatar %>
      </div>
    </div>
    <div class="form__item">
      <div class="wrapper">
        <div class="icon-menu text_field__icon"></div>
        <%= f.select :role_id, Role.order("name").map{|c| [ c.name,c.id]},{include_blank: "#{t('str_select_field')} #{t('.role_id')}"}, class: "field__placeholder_icon" %>
      </div>
    </div>
    <div class="form__item">
      <div class="wrapper">
        <div class="icon-pencil text_field__icon"></div>
        <%= f.text_field :name, class: "field__placeholder_icon", placeholder: "#{t('.name')}" %>
      </div>
    </div>
    <div class="form__item">
      <div class="wrapper">
        <div class="icon-pencil text_field__icon"></div>
        <%= f.text_field :last_name, class: "field__placeholder_icon", placeholder: "#{t('.last_name')}" %>
      </div>
    </div>

    <div class="form__item">
      <div class="wrapper">
        <div class="icon-pencil text_field__icon"></div>
        <%= f.text_field :identity, class: "field__placeholder_icon", placeholder: "#{t('.identity')}" %>
      </div>
    </div>

    <div class="form__item">
      <div class="wrapper">
        <div class="icon-pencil text_field__icon"></div>
        <%if(@user.new_record? and params[:action].to_s == "create" )%>
          <%if(params[:user][:role_id].to_i != 3)%>
            <%= f.text_field :username, class: "field__placeholder_icon", placeholder: "#{t('.username')}" %>
          <%else%>
            <%= f.hidden_field :username, value: api_string.to_s %>
          <%end%>
        <%else%>
          <%if(@user.role_id.to_i != 3)%>
            <%= f.text_field :username, value: @user.username, class: "field__placeholder_icon", placeholder: "#{t('.username')}" %>
          <%else%>
            <%= f.hidden_field :username, value: @user.identity %>
          <%end%>
        <%end%>
      </div>
    </div>

    <div class="form__item">
      <div class="wrapper">
        <div class="icon-pencil text_field__icon"></div>
        <%if(@user.new_record? and params[:action].to_s == "create" )%>
          <%if(params[:user][:role_id].to_i != 3)%>
            <%= f.text_field :email, class: "field__placeholder_icon", placeholder: "#{t('.email')}" %>
          <%else%>
            <%= f.hidden_field :email, value: api_string.to_s+'@iecamilotorreszipa.edu.co' %>
          <%end%>
        <%else%>
          <%if(@user.role_id.to_i != 3)%>
            <%= f.text_field :email, value: @user.email, class: "field__placeholder_icon", placeholder: "#{t('.email')}" %>
          <%else%>
            <%= f.hidden_field :email, value: api_string.to_s+'@iecamilotorreszipa.edu.co' %>
          <%end%>
        <%end%>
      </div>
    </div>

    <%if(@user.new_record?)%>
      <div class="form__item">
        <div class="wrapper">
        <%if(@user.new_record? and params[:action].to_s == "create")%>
          <%if(params[:user][:role_id].to_i != 3)%>
            <div class="icon-pencil text_field__icon"></div>
            <%= f.password_field :password, class: "field__placeholder_icon", placeholder: "#{t('.password')}" %>
          <%else%>
            <%= f.hidden_field :password, value: api_string.to_s+'52687', class: "field__placeholder_icon", placeholder: "#{t('.password')}" %>
          <%end%>
        <%else%>
            <div class="icon-pencil text_field__icon"></div>
            <%= f.password_field :password, class: "field__placeholder_icon", placeholder: "#{t('.password')}" %>
        <%end%>
        </div>
      </div>
    <%end%>

    <div class="form__item">
      <div class="wrapper">
        <%= label_tag(t('.gender_m')) %>
        <%= f.radio_button(:gender, "0") %>
        <%= label_tag(t('.gender_h')) %>
        <%= f.radio_button(:gender, "1") %>
      </div>
    </div>
    <div class="form__item">
      <div class="wrapper">
        <div class="icon-menu text_field__icon"></div>
        <%= f.select :company_id, Company.order("name").map{|c| [ c.name,c.id]},{}, class: "field__placeholder_icon" %>
      </div>
    </div>
    <div class="form__item">
      <div class="wrapper">
        <div class="icon-menu text_field__icon"></div>
        <%= f.select :localization_id, Localization.order("name").map{|c| [ c.name,c.id]},{}, class: "field__placeholder_icon" %>
      </div>
    </div>
    <div class="form__item">
      <div class="wrapper">
        <div class="icon-menu text_field__icon"></div>
        <%= f.select :country_id, Country.order("name").map{|c| [ c.name,c.id]},{}, class: "field__placeholder_icon" %>
      </div>
    </div>
    <div class="form__item">
      <div class="wrapper">
        <div class="icon-menu text_field__icon"></div>
        <%= f.select :city_id, City.order("name").map{|c| [ c.name,c.id]},{}, class: "field__placeholder_icon" %>
      </div>
    </div>
    <%if(params[:action] == 'edit' or params[:action] == 'update')%>
      <div class="form__item">
        <div class="wrapper">
          <%= f.label :status %>&nbsp;<%= f.check_box :status %>
        </div>
      </div>
    <%end%>
  </div>
  <%= f.hidden_field :since_date, :value => Time.now.strftime('%Y-%m-%d') %>
  <%= f.hidden_field :area_id, :value => 0 %>
  <%= f.hidden_field :position_id, :value => 0 %>
  <%= f.hidden_field :group_id, :value => 0 %>
  <%= f.hidden_field :business_unite_id, :value => 0 %>
  <%= hidden_field_tag "hemail", api_string.to_s %>
  <%= hidden_field_tag "husername", api_string.to_s %>
  <%= hidden_field_tag "hpassword", api_string.to_s %>
  <div class="form__button">
    <div class="button__border_radius center">
      <%= link_to '<i class="fa fa-refresh fa-lg"></i>&nbsp;Cancelar'.html_safe, new_user_path, class: "button-link color-button-green", style: "position: absolute;" %>
    </div>
    <div class="button__border_radius right">
      <%= button_tag(type: 'submit', class: "form__submit_button") do %>
         <i class="fa fa-floppy-o fa-lg"></i> <%=t('.save')%>
      <% end %>
    </div>
  </div>
<% end %>

<script>
$(function(){
  $('#user_role_id').change(function(){
    if($('#user_role_id').val() == 3){
      $('input[name="user[username]"]').val('');
      $('#user_username').fadeOut(0, function(){
        $('input[name="user[username]"]').val($('#husername').val()+'5789');
      });
      $('#user_password').fadeOut(0, function(){
        $('input[name="user[password]"]').val($('#hpassword').val()+'5789');
      });
      $('#user_email').fadeOut(0, function(){
        $('input[name="user[email]"]').val($('#hemail').val()+'@iecamilotorreszipa.edu.co');
      });
      $('label[for="user_username"]').fadeOut(0);
      $('label[for="user_password"]').fadeOut(0);
      $('label[for="user_email"]').fadeOut(0);
    }else{
      if($('#action').val() != 'edit'){
        $('#user_username').fadeIn(0, function(){
          $('input[name="user[username]"]').val('');
        });
        $('#user_password').fadeIn(0, function(){
          $('input[name="user[password]"]').val('');
        });
        $('#user_email').fadeIn(0, function(){
          $('input[name="user[email]"]').val('');
        });
        $('label[for="user_username"]').fadeIn(0);
        $('label[for="user_password"]').fadeIn(0);
        $('label[for="user_email"]').fadeIn(0);
      }
    }
  });
});
</script>
