<%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
<%= javascript_include_tag "application" %>
<%= csrf_meta_tags %>
 <%= form_for 'change_password' do |f| %>
  <%= hidden_field_tag "id", params[:id].to_i %>
  <div class="row"><div class="col-xs-12 col-sm-6 col-md-8">&nbsp;</div></div>
  <p>Campos con <span class='label_color_red'>*</span> son obligatorios.</p>
  <fieldset>
    <legend><b>Modificar Contraseña</b></legend>
    <div class="row">
      <div class="col-md-3 col-md-offset-0">
        <%= f.label :encrypted_password,"<span class='label_color_red'>*</span> Contraseña".html_safe %>
        <%= f.password_field :encrypted_password, value:"",class: "form-control", placeholder: "Contraseña"  %>
      </div>
    </div>
  </fieldset>
  <div class="row"><div class="col-xs-12 col-sm-6 col-md-8">&nbsp;</div></div>
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-8">
      <div class="actions">
        <%= button_tag(type: 'submit', :name => "commit", :value => "Modificar", class: "btn btn-primary") do %>
         <i class="fa fa-floppy-o fa-lg"></i> Modificar
        <% end %>
      </div>
    </div>
  </div>
  <div class="row"><div class="col-xs-12 col-sm-6 col-md-8">&nbsp;</div></div>
  <center>
    <%if(flash[:success] != "" and !flash[:success].nil? )%>
      <div class="alert alert-success" style="font-size:14px;">
        <i class='fa fa-check-circle fa-2x'></i>&nbsp;<%= flash[:success] %>
      </div>
    <% end %>
    <%if(flash[:error] != "" and !flash[:error].nil? )%>
      <div class="alert alert-danger" role="alert"  style="font-size:14px;">
        <i class='fa fa-times-circle fa-2x'></i>&nbsp;<%= flash[:error] %>
      </div>
    <% end %>
  </center>
<% end %>