<% if @score_details.any? %>
  <!--% @score_details.each_with_index do |score_detail, index| %-->
    <tr id="fields_<%= score_detail.id %>">
      <td><%= @index + 1 %></td>
      <td>
        <div class="wrapper">
          <div class="fa fa-pencil text_field__icon", style= "font-size: 0.9em"></div>
          <%= text_field_tag "name[]", score_detail.name.nil? ? "" : score_detail.name, class: "field__placeholder_icon field-name", placeholder: "Nombre de la Actividad", style: "font-size: 0.9em", maxlength: "11" %>
        </div>
      </td>
      <td>
        <%= select_tag "sd_detail_score_detail_id[]", options_from_collection_for_select(SdDetail.order("name"), "id", "name", score_detail.sd_detail_id), prompt: "#{t('str_select_field')} Detalle", class: "select-style" %>
      </td>
      <td>
        <%= select_tag "weight[]", options_for_select(array_percentage, score_detail.weight), include_blank: "#{t('str_select_field')} Detalle", class: "select-style weight-field" %>
      </td>
      <td>
        <div class="wrapper">
          <div class="fa fa-pencil text_field__icon"></div>
          <%= text_area_tag "description[]", score_detail.description, class: "field__placeholder_icon", placeholder: "Descripción", style: "font-size: 0.9em" %>
        </div>
      </td>
      <td>
        <i class="fa fa-floppy-o fa-lg save-button" style="color: #34495e; cursor: pointer;" id="sdid_<%= score_detail.id %>" title="Guardar"></i>&nbsp;
        <i class="fa fa-minus delete-button" style="color: #e74c3c; cursor: pointer;" id="delete-fields_<%= score_detail.id %>" title="Eliminar"></i>
      </td>
    </tr>
    <%= hidden_field_tag "score_detail_id[]", score_detail.id, {id: "hidden_sd_#{score_detail.id}"} %>
    <% @index_plus = @index + 1 %>
    <% @index += 1%>
  <!--% end %-->

<% end %>
