<%= form_for(@final_value_record) do |f| %>
  <% if @final_value_record.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@final_value_record.errors.count, "error") %> prohibited this final_value_record from being saved:</h2>

      <ul>
      <% @final_value_record.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :student_sub_grade_id %><br>
    <%= f.text_field :student_sub_grade_id %>
  </div>
  <div class="field">
    <%= f.label :educational_area_id %><br>
    <%= f.text_field :educational_area_id %>
  </div>
  <div class="field">
    <%= f.label :average_total_score %><br>
    <%= f.text_field :average_total_score %>
  </div>
  <div class="field">
    <%= f.label :recovered_score %><br>
    <%= f.text_field :recovered_score %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
