<%= form_for(@area) do |f| %>
  <% if @area.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@area.errors.count, "error") %> <%= t('error_form') %></h2>

      <ul>
      <% @area.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :parent_id %><br>
    <%= f.select :parent_id, Area.where("status=1").order("name").map{|c| [ c.name,c.id]},{include_blank: true} %>
  </div>
  <%if(params[:action] == 'edit' or params[:action] == 'update')%>
    <div class="field">
      <%= f.label :status %><br>
      <%= f.check_box :status %>
    </div>
  <%end%>
  <div class="actions">
    <%= f.submit t('.save') %>
  </div>
<% end %>
