<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @area.name %>
</p>

<p>
  <strong>Parent:</strong>
  <%= @area.parent_id %>
</p>

<p>
  <strong>Status:</strong>
  <%= @area.status %>
</p>

<%= link_to 'Edit', edit_area_path(@area) %> |
<%= link_to 'Back', areas_path %>
