<br><br><br>
<% if @sd_details.size != 0 %>
  <div class="grupo total">
    <div class="caja">
      <center><%= paginate(@sd_details) %></center>
    </div>
  </div>

  <table id="sorter" class="tablesorter style-table">
    <thead>
      <tr>
        <th><%= sort_link(@search, :name, t('.name')) %></th>
        <th><%= sort_link(@search, :description, t('.description')) %></th>
        <th colspan="2"></th>
      </tr>
    </thead>
    <tbody>
      <%= search_form_for @search, url: new_sd_detail_url, method: :post do |f| %>
        <tr>
          <td width="100px"><%= f.text_field :name_cont, :size=>"30",class: "form-control" %></td>
          <td width="400px"><%= f.text_field :description_cont, :size=>"45",class: "form-control" %></td>
          <th colspan="2" width="200px">
            <%= button_tag(type: 'submit',title: "Buscar", class: "button-link color-button-orange tooltip", style: "padding: 8px 10px;margin:9px 5px;", :data =>{:toggle=>"tooltip", :placement=>"top", title: "Filtrar"}) do %>
              <i class="fa fa-search fa-lg"></i>
            <% end %>
            <%= link_to(new_sd_detail_url,{class: 'button-link color-button-red tooltip', title: "Limpiar", style: "padding: 8px 5px;margin:9px 5px;", :data =>{:toggle=>"tooltip", :placement=>"top", title: "Limpiar"}}) do %>
                <span class="fa fa-eraser fa-lg"></span>
            <% end %>
          </th>
        </tr>
      <% end %>
      <% @sd_details.each do |sd_detail| %>
        <tr>
          <td><%= sd_detail.name %></td>
          <td><%= sd_detail.description %></td>
          <td><%= link_to '<i class="fa fa-pencil"></i>'.html_safe, edit_sd_detail_path(sd_detail), class: "edit-icon-button format-link tooltip", title: "Editar" %></td>
          <td><%= link_to '<i class="fa fa-times"></i>'.html_safe, sd_detail, method: :delete, data: { confirm: "#{t('.eliminate')}" }, class: "format-link tooltip", title: "Eliminar" unless assigned_id(ScoreDetail,'sd_detail_id',sd_detail) %></td>
        </tr>
      <% end %>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="4">
          <%= t('.label_total') %>:  <%=@sd_details.size%>
        </td>
      </tr>
    </tfoot>
  </table>
   <div class="grupo total">
    <div class="caja">
      <center><%= paginate(@sd_details) %></center>
    </div>
  </div>
<% else %>
  <div class="grupo">
    <div class="caja">
      <div class="caja movil-90 tablet-70 centrar-caja">
        <div class="msg-info">
          <strong>¡Atento!</strong> <%= t('msg_info') %>
        </div>
      </div>
    </div>
  </div>
<% end %>
<script>
  $(document).ready(function()
    {
        $("#sorter").tablesorter();
    }
);
</script>