<p id="notice"><%= notice %></p>

<p>
  <strong>School year:</strong>
  <%= @period_notes_detail.school_year_id %>
</p>

<p>
  <strong>Teacher asignature:</strong>
  <%= @period_notes_detail.teacher_asignature_id %>
</p>

<p>
  <strong>Educational performance:</strong>
  <%= @period_notes_detail.educational_performance_id %>
</p>

<p>
  <strong>Performance weight:</strong>
  <%= @period_notes_detail.performance_weight %>
</p>

<p>
  <strong>Sd detail:</strong>
  <%= @period_notes_detail.sd_detail_id %>
</p>

<p>
  <strong>Detail weight:</strong>
  <%= @period_notes_detail.detail_weight %>
</p>

<p>
  <strong>Educational period:</strong>
  <%= @period_notes_detail.educational_period_id %>
</p>

<p>
  <strong>Period weight:</strong>
  <%= @period_notes_detail.period_weight %>
</p>

<p>
  <strong>Teacher:</strong>
  <%= @period_notes_detail.teacher_id %>
</p>

<%= link_to 'Edit', edit_period_notes_detail_path(@period_notes_detail) %> |
<%= link_to 'Back', period_notes_details_path %>
